<%- include('../partials/header.ejs') %>
<body>
<%- include('../partials/sidebar.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <!-- content goes here  -->
            <% projects.forEach((item)=>{%>
                <a href="/OrderSingle?OrderID=<%= item._id%>">
                    <div class="panel">
                         <div class="text-center">
                             <h5 class="underline"><%= item.Title %></h5>
                         </div>
                         <div class="panel-body">
                            <p>
                                <%= item.Description %>
                            </p>
                         </div>
                        </a>
                         <div style="display:flex;justify-content: space-evenly;padding:0 10px">
                            <span>
                                <button type="button" class="btn btn-xs btn-info m-4">
                                    <%= item.Bids %> Bids
                                </button>
                            </span>
                            <span>
                                <button type="button" class="btn btn-xs btn-info m-4">
                                    Project Type: <span class="badge badge-warning badge-sm"><%= item.ProjectType %></span>
                                </button>
                            </span>
                            <span>
                                <button type="button" class="btn btn-xs btn-info m-4">
                                    For $  <span class="badge badge-warning badge-sm"><%= item.Budget %></span>
                                </button>
                            </span>
                            <span class="text-warning">
                                <div class="badge badge-sm badge-danger">
                                    <%=  moment(item.SubmitBy).countdown().toString(); %>  Remaining
                                </div>                               
                            </span>
                            <span class="text-success">
                                <%= item.Proposals %> Coins Required
                            </span>
                            <span>
                             <!-- Button trigger modal -->
                            <button type="button" class="btn btn-xs btn-primary m-4" data-toggle="modal" data-target="#exampleModal">
                                Bid On Project
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                    ...
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-xs btn-warning m-4" id="takeButton" data-projectID="<%= item._id %>">
                                Take Project <%= user.membership %>
                            </button>
                            </span>
                            
                         </div>
                         
                    </div>
            <% }) %>
        </div>
    </div>
</div>
<script>
    const takeBtn = document.querySelector("button#takeButton")
    takeBtn.addEventListener('click',async(e)=>{
        let projectId = takeBtn.getAttribute("data-projectID")
        //then post the projectID to the backend 
        const resp = await fetch("/TakeProject",{
            method:'post',
            body:JSON.stringify({projectId}),
            headers:{
                'Content-Type':'application/json'
            }
        })
        const dataBack = await resp.json()
       console.log(dataBack)
    })
</script>
<%- include('../partials/scripts.ejs') %>
</body>

</html> 