<%- include('../partials/header.ejs') %>
<body>
<%- include('../partials/sidebar.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <!-- content goes here  -->
            <div class="unix-login">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="login-content">
                                <div class="login-form">
                                    <span>Bid On The Project: </span>
                                    <span class="text-success text-bold">
                                        <%= project.Title %>
                                    </span>
                                    <h6 class="text-warning">
                                      At  $ <%= project.Budget %>
                                    </h6>
                                    <form id="bidsForm">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="hidden" class="form-control" name="ProjectID" value="<%= projectID %>">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="Bid Title">Bid Title</label>
                                                    <h6 id="bidTitleError" class="text-danger"></h6>
                                                    <input type="text" class="form-control" id="bidTitle" name="BidTitle">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="Bid Description">Bid Description</label>
                                                    <h6 id="bidDescError" class="text-danger"></h6>
                                                    <textarea class="form-control" name="BidDescription" id="BidDescriptionID" style="width: 100%;color: white;" rows="10"> </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Your Budget</label>
                                                    <h6 id="bidBudgetError" class="text-danger"></h6>
                                                    <input type="number" class="form-control" name="BidBudget" id="BidBudget" placeholder="Your Budget in USD">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Post Your Bid</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const form = document.querySelector('form#bidsForm')
    const errorField = document.querySelector('h6#errorsCategory')
    const bidTitleError = document.querySelector("#bidTitle")
    const bidDescError = document.querySelector("#BidDescription")
    form.addEventListener('submit', async (event)=>{
        event.preventDefault();
        bidTitleError.classList.remove('error')
        document.querySelector("#bidTitleError").textContent = ''
        const bidTitle = form.bidTitle.value
        const bidDescription = document.getElementById("BidDescriptionID").value
        const bidBudget = form.BidBudget.value
        const projectID = form.ProjectID.value
        if(!bidTitle){
            bidTitleError.classList.add('error')
            document.querySelector("#bidTitleError").textContent = "This field is required"
        }
        if(!bidBudget){
            document.querySelector('input#BidBudget').classList.add('error')
            document.querySelector("#bidBudgetError").textContent = " This field is required"
        }
        //post data to the backend 
        //form data 
        let formData = new FormData()
        const formBody ={
            'projectID':projectID,
            'bidTitle':bidTitle,
            'bidDescription':bidDescription,
            'bidBudget':bidBudget
        }
        const res = await fetch("/ProjectBid",{
            method:'POST',
            body:JSON.stringify(formBody),
            headers:{
                'Content-Type':'application/json'
            }
        })
        const dataBack = await res.json()
        console.log(dataBack)
    })
</script>
<%- include('../partials/scripts.ejs') %>
</body>

</html> 