<%- include('../partials/header.ejs') %>
<body>
<%- include('../partials/sidebar.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <!-- content goes here  -->
            <div class="unix-login">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card alert">
                                <div class="card-header text-center">
                                    <h4 class="text-center">All Categories </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Category Name</th>
                                                    <th>Category Type</th>
                                                    <th>Created By</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% categories.forEach(function(item,key=1){%>
                                                <tr>
                                                    <td><%= item.CategoryName %></td>
                                                    <td><%= item.CategoryType %></td>
                                                    <td>
                                                        <span class="badge badge-primary">
                                                            <a href="/EditCategory?itemId=<%= item._id %>">Edit Category</a>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span>
                                                            <a class="btn btn-danger btn-outline m-b-10 m-l-5" href="/DeleteCategory?itemId=<%= item._id %>">delete Category</a>
                                                        </span>
                                                </td>
                                                </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
<%- include('../partials/scripts.ejs') %>
</body>

</html> 