<%- include('../partials/header.ejs') %>
<body>
<%- include('../partials/sidebar.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <!-- content goes here  -->
            <div class="unix-login">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="login-content">
                                <div class="login-form">
                                    <h4>Create An Order</h4>
                                    <form id="orderForm" enctype="multipart/form-data">
                                        <div class="row">
                                            <span class="text-center text-danger" id="errorClass"></span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Title</label>
                                                    <input type="text" class="form-control" name="Title" placeholder="What do you want done?">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Category</label>
                                                    <select name="Category" id="Category" class="form-control">
                                                        <option label="--Select Category"></option>
                                                        <% categories.forEach(function(item,index){ %>
                                                            <option value="<%= item.CategoryName %>"> <%= item.CategoryName %> </option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea name="Description" id="" placeholder="Project Description"  rows="5" style="width: 100%;color:black"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-groupt text-center">
                                                    <label>Project Type</label>
                                                    <div style="display:flex; justify-content: space-evenly; gap: 2;">
                                                        <div class="form-check ml-3">
                                                            <input class="form-check-input" type="radio" name="projectType" id="hourly">
                                                            <label class="form-check-label pl-5" for="hourly">
                                                              Hourly
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="projectType" id="contract" checked>
                                                            <label class="form-check-label" for="contract">
                                                             Contract
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="col-sm-6 text-center">
                                                    <div class="form-group">
                                                        <label>Your Budget</label>
                                                        <input type="number" class="form-control" name="Budget" placeholder="Amount in USD">
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Project File</label>
                                                    <input type="file" class="form-control" id="projectFile" name="ProjectFile" multiple>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Deadline</label>
                                                    <input type="date" class="form-control" placeholder="Deadline" name="Deadline">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Post Project</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const form = document.querySelector('form#orderForm')
    const errorClass = document.querySelector('span#errorClass')
    form.addEventListener('submit', async (e)=>{
        errorClass.textContent = ""
        e.preventDefault()
        const Title = form.Title.value
        const Category = form.Category.value
        const Description = form.Description.value
        const projectType = form.projectType.value
        const Budget = form.Budget.value
        const ProjectFiles = form.ProjectFile.files
        const Deadline = form.Deadline.value
        if(!Title){
            errorClass.textContent = "Title Is Required"
        }
        else if(!Category){
            errorClass.textContent = "Category Is Required"
        }
        else if(!Description){
            errorClass.textContent = "Description Is Required"
        }
        else if(!projectType){
            errorClass.textContent = "projectType Is Required"
        }
        else if(!Budget){
            errorClass.textContent = "Budget Is Required"
        }
        else if(!Deadline){
            errorClass.textContent = "Deadline Is Required"
        }
        else{
            errorClass.textContent = ""
            //initialize the form data 
            const formData = new FormData()
            formData.append('Title',Title)
            formData.append('Category',Category)
            formData.append('Description',Description)
            formData.append('projectType',projectType)
            formData.append('Budget',Budget)
            formData.append('Deadline',Deadline)
            Object.keys(ProjectFiles).forEach(key=>{
                formData.append(ProjectFiles[key].name,ProjectFiles[key])
            })
            console.log(...formData)
            const res = await fetch("/SaveOrder",{
                method:'POST',
                body: formData
            })
            const dataBack = await res.json()
            console.log(dataBack)
            
        }
    })
</script>
<%- include('../partials/scripts.ejs') %>
</body>

</html> 