<%- include('../partials/header.ejs') %>
<body>
<%- include('../partials/sidebar.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <!-- content goes here  -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card alert">
                        <div class="card-header">
                           <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h3 class="text-center">My Orders</h3>
                            </div>
                           </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Project Title</th>
                                            <th>Type</th>
                                            <th>Price</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- if no orders display alert box -->
                                       <% if(orders.length===0) {%>
                                            <tr>
                                                <td colspan="5">
                                                    <div class="alert alert-warning text-center ">
                                                        <strong>Hello <%= user.firstName%> </strong>, You currently have no any orders <a href="/OrderCreate">Click Here to Create One</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }else{ %>
                                            <% orders.forEach(item=>{ %>
                                            <tr>
                                                <td><%= item.Title %></td>
                                                <td><%= item.ProjectType %></td>
                                                <td><span class="badge badge-primary"> $<%= item.Budget %></span></td>
                                                <td><span class="badge badge-sm badge-danger">
                                                    <%= item.Status %>
                                                </span>
                                                </td>
                                                </span>
                                                <td>
                                                    <span><a href="/OrderSingle?OrderID=<%= item?._id %>"><i class="ti ti-eye color-default"></i></a> </span>
                                                    <span><a href="/OrderSingle/<%= item?._id %>"><i class="ti ti-pencil-alt color-success"></i></a></span>
                                                    <span><a href="/DeleteOrder?orderID=<%= item?._id %>"><i class="ti ti-trash color-danger"></i> </a></span>
                                                </td>
                                            </tr>
                                            <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
        </div>
    </div>
</div>
<%- include('../partials/scripts.ejs') %>
</body>

</html> 